<!-- home/templates/home/index.html -->
{% extends 'layout/base.html' %}

{% block title %}
Домашняя страница
{% endblock %}

{% block content %}
<div class="container">
    <p style="font-size: 20px;">
        <b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Название программы:</b> Программно – вычислительная среда по
        расчету аномального переноса вещества в пористых
        средах
        <br><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Авторские права:</b> В Государственном реестре
        программных продуктов Республики Узбекистан создан на
        основании сертификатов № DGU 38241,
        № DGU 38241, зарегистрированных 18.05.2024.
    </p>

    <p style="font-size: 20px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Программа создана на кафедре «Математическое моделирование»
        Самаркандского государственного университета имени Шарофа Рашидова.</p>
</div>

<h3 class="text-center">
    Авторы программы:
</h3>

<div class="m-2">
    <div class="row">
        <div class="col-md-5">
            <img src="/static/38241.jpg" class="img-fluid x-class" alt="Left Image">
        </div>
        <div class="col-md-2">
            <div class="overlay-container">
                <img src="/static/image1.png" class="img-fluid bottom-img" alt="Bottom Image">
                <h5 class="text-center">Хужаёров Бахтиёр - доктор физико- математических наук, профессор</h5>
                <img src="/static/image2.png" class="img-fluid overlay-img" alt="Overlay Image">
                <h5 class="text-center">Холлиев Фахриддин Боходирович базовым докторантом</h5>
            </div>
        </div>
        <div class="col-md-5">
            <img src="/static/38242.jpg" class="img-fluid x-class" alt="Right Image">
        </div>
    </div>
</div>

<div class="d-flex justify-content-end">
    <a href="/" class="btn btn-outline-primary"> запустить программу</a>
</div>
<div class="float-right">
    <i>Программа создана с использованием языка
        программирования Python и фреймворка Django</i></div>
{% endblock %}