<!-- user/templates/answer1.html -->

{% extends 'layout/base.html' %}

{% block title %}
Домашняя страница
{% endblock %}

{% block content %}
<div class="container" id="form">
    <h3 class="text-center display-8">РАЗРАБОТКА РАСЧЕТНОЙ СРЕДЫ ПОКАЗАТЕЛЕЙ ПЕРЕНОСА ВЕЩЕСТВ</h3>
    <form id="parametersForm" class="mt-5" method="get">

        <input type="text" name="options" value="{{ item_id }}" hidden>
        {% for x, y in description.items %}
        <div class="form-group row mt-2">
            <label for="{{ x }}" class="col-sm-6 col-form-label">{{ y.name }} ({{ x }}):</label>
            <div class="col-sm-6">
                {% if y.value|length > 1 %}
                <input type="number" class="form-control" id="{{ x }}" name="{{ x }}" value="{{ y.value.0 }}"
                    min="{{ y.value.0 }}" max="{{ y.value.1 }}" required>
                {% else %}
                <input type="number" class="form-control" id="{{ x }}" name="{{ x }}" value="{{ y.value }}" required>
                {% endif %}
            </div>
        </div>
        {% endfor %}
        <div class="d-flex justify-content-between mt-5">
            <button type="button" onclick="submitData()" class="btn btn-primary">РЕШЕНИЕ</button>
            <a href="/" class="btn btn-secondary">ГЛАВНАЯ</a>
            <a href="/selects/" class="btn btn-success">ВЫХОД</a>
            <!-- Ensure href attribute ends with a trailing slash if APPEND_SLASH=True -->
        </div>
    </form>
</div>
<div class="loader p-2 m-2" style="position: relative;">
    <p style="font-size: 20px;">Результаты программы будут объявлены в ближайшее время, пожалуйста, подождите, примерное
        время ожидания: <span id="vall"></span> минута</p>
</div>
<div class="loader">
    <div id="loader" class="d-flex justify-content-center align-items-center" style="height: 100vh;display: none;">
        <div class="h1Container">

            <div class="cube h1 w1 l1">
                <div class="face top"></div>
                <div class="face left"></div>
                <div class="face right"></div>
            </div>

            <div class="cube h1 w1 l2">
                <div class="face top"></div>
                <div class="face left"></div>
                <div class="face right"></div>
            </div>

            <div class="cube h1 w1 l3">
                <div class="face top"></div>
                <div class="face left"></div>
                <div class="face right"></div>
            </div>

            <div class="cube h1 w2 l1">
                <div class="face top"></div>
                <div class="face left"></div>
                <div class="face right"></div>
            </div>

            <div class="cube h1 w2 l2">
                <div class="face top"></div>
                <div class="face left"></div>
                <div class="face right"></div>
            </div>

            <div class="cube h1 w2 l3">
                <div class="face top"></div>
                <div class="face left"></div>
                <div class="face right"></div>
            </div>

            <div class="cube h1 w3 l1">
                <div class="face top"></div>
                <div class="face left"></div>
                <div class="face right"></div>
            </div>

            <div class="cube h1 w3 l2">
                <div class="face top"></div>
                <div class="face left"></div>
                <div class="face right"></div>
            </div>

            <div class="cube h1 w3 l3">
                <div class="face top"></div>
                <div class="face left"></div>
                <div class="face right"></div>
            </div>
        </div>

        <div class="h2Container">

            <div class="cube h2 w1 l1">
                <div class="face top"></div>
                <div class="face left"></div>
                <div class="face right"></div>
            </div>

            <div class="cube h2 w1 l2">
                <div class="face top"></div>
                <div class="face left"></div>
                <div class="face right"></div>
            </div>

            <div class="cube h2 w1 l3">
                <div class="face top"></div>
                <div class="face left"></div>
                <div class="face right"></div>
            </div>

            <div class="cube h2 w2 l1">
                <div class="face top"></div>
                <div class="face left"></div>
                <div class="face right"></div>
            </div>

            <div class="cube h2 w2 l2">
                <div class="face top"></div>
                <div class="face left"></div>
                <div class="face right"></div>
            </div>

            <div class="cube h2 w2 l3">
                <div class="face top"></div>
                <div class="face left"></div>
                <div class="face right"></div>
            </div>

            <div class="cube h2 w3 l1">
                <div class="face top"></div>
                <div class="face left"></div>
                <div class="face right"></div>
            </div>

            <div class="cube h2 w3 l2">
                <div class="face top"></div>
                <div class="face left"></div>
                <div class="face right"></div>
            </div>

            <div class="cube h2 w3 l3">
                <div class="face top"></div>
                <div class="face left"></div>
                <div class="face right"></div>
            </div>
        </div>

        <div class="h3Container">

            <div class="cube h3 w1 l1">
                <div class="face top"></div>
                <div class="face left"></div>
                <div class="face right"></div>
            </div>

            <div class="cube h3 w1 l2">
                <div class="face top"></div>
                <div class="face left"></div>
                <div class="face right"></div>
            </div>

            <div class="cube h3 w1 l3">
                <div class="face top"></div>
                <div class="face left"></div>
                <div class="face right"></div>
            </div>

            <div class="cube h3 w2 l1">
                <div class="face top"></div>
                <div class="face left"></div>
                <div class="face right"></div>
            </div>

            <div class="cube h3 w2 l2">
                <div class="face top"></div>
                <div class="face left"></div>
                <div class="face right"></div>
            </div>

            <div class="cube h3 w2 l3">
                <div class="face top"></div>
                <div class="face left"></div>
                <div class="face right"></div>
            </div>

            <div class="cube h3 w3 l1">
                <div class="face top"></div>
                <div class="face left"></div>
                <div class="face right"></div>
            </div>

            <div class="cube h3 w3 l2">
                <div class="face top"></div>
                <div class="face left"></div>
                <div class="face right"></div>
            </div>

            <div class="cube h3 w3 l3">
                <div class="face top"></div>
                <div class="face left"></div>
                <div class="face right"></div>
            </div>
        </div>
    </div>
</div>
<div id="content">
    <div class="row m-2">
        <div class="col-md-6">
            <div class="card">
                <h3 class="card-header">Cm ning X koordinata bo'yicha taqsimoti</h3>
                <div class="card-body">
                    <canvas id="chartCm"></canvas>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card">
                <h3 class="card-header">Cim ning X koordinata bo'yicha taqsimoti</h3>
                <div class="card-body">
                    <canvas id="chartCim"></canvas>
                </div>
            </div>
        </div>
        <hr class="m-1">
        <div class="col-md-6">
            <div class="card">
                <h3 class="card-header">Cm ning vaqt bo'yicha dinamikasi</h3>
                <div class="card-body">
                    <canvas id="chartCmTime"></canvas>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <h3 class="card-header">Cim ning vaqt bo'yicha dinamikasi</h3>
                <div class="card-body">
                    <canvas id="chartCimTime"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="m-4">
        <a class="btn btn-primary" href="/static/data/Cm.csv">Cm data</a>
        <a class="btn btn-primary" href="/static/data/Cim.csv">Cim data</a>

        <a class="btn btn-primary" href="/static/data/C1.csv">C1 data</a>
        <a class="btn btn-primary" href="/static/data/C2.csv">C2 data</a>
        <a class="btn btn-primary" href="/static/data/C3.csv">C3 data</a>
        <a class="btn btn-primary" href="/static/data/C4.csv">C4 data</a>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $("#content").hide();
    $(".loader").hide();

    function submitData() {

        const data = $("#parametersForm").serialize();
        $(".loader").show();
        $("#form").hide();
        const varr = $("#tmax").val() / 1000;
        $("#vall").html(varr);

        $.ajax({
            url: "/result/",
            type: "POST",
            data: data,
            success: function (data) {
                console.log(data)
                createChart('chartCm', data.x, [{
                        label: `Cm(t=${data.tmax} s)`,
                        data: data.Cm[data.tmax]
                    },
                    {
                        label: `Cm(t=${Math.floor(data.tmax / 3)} s)`,
                        data: data.Cm[Math.floor(data.tmax / 3)]
                    },
                    {
                        label: `Cm(t=${Math.floor(2 * data.tmax / 3)} s)`,
                        data: data.Cm[Math.floor(2 * data.tmax / 3)]
                    }
                ]);

                createChart('chartCim', data.x, [{
                        label: `Cim(t=${data.tmax} s)`,
                        data: data.Cim[data.tmax]
                    },
                    {
                        label: `Cim(t=${Math.floor(data.tmax / 3)} s)`,
                        data: data.Cim[Math.floor(data.tmax / 3)]
                    },
                    {
                        label: `Cim(t=${Math.floor(2 * data.tmax / 3)} s)`,
                        data: data.Cim[Math.floor(2 * data.tmax / 3)]
                    }
                ]);

                createChart('chartCmTime', data.y, [{
                        label: 'Cm (x=0.1 m)',
                        data: data.Cm2
                    },
                    {
                        label: 'Cm (x=0.3 m)',
                        data: data.Cm3
                    },
                    {
                        label: 'Cm (x=0.5 m)',
                        data: data.Cm4
                    }
                ]);

                createChart('chartCimTime', data.y, [{
                        label: 'Cim (x=0.1 m)',
                        data: data.Cim2
                    },
                    {
                        label: 'Cim (x=0.3 m)',
                        data: data.Cim3
                    },
                    {
                        label: 'Cim (x=0.5 m)',
                        data: data.Cim4
                    }
                ]);
                document.getElementById('loader').classList.add('hide-important');
                $("#content").show();
            }
        })
    }

    function createChart(canvasId, labels, datasets) {
        const ctx = document.getElementById(canvasId).getContext('2d');
        new Chart(ctx, {
            type: 'line',
            data: {
                labels: labels,
                datasets: datasets.map(dataset => ({
                    label: dataset.label,
                    data: dataset.data,
                    borderColor: getRandomColor(),
                    borderWidth: 1
                }))
            },
            options: {
                responsive: true,
                scales: {
                    x: {
                        title: {
                            display: true,
                            text: 'Coordinate (m)'
                        }
                    },
                    y: {
                        title: {
                            display: true,
                            text: 'Concentration (m³/m³)'
                        }
                    }
                }
            }
        });
    }

    function getRandomColor() {
        const r = Math.floor(Math.random() * 255);
        const g = Math.floor(Math.random() * 255);
        const b = Math.floor(Math.random() * 255);
        return `rgba(${r}, ${g}, ${b}, 1)`;
    }
</script>
{% endblock %}