<!-- home/templates/home/index.html -->

{% extends 'layout/base.html' %}

{% block title %}
Домашняя страница
{% endblock %}

{% block content %}
<div class="container">
    <h3 class="text-center display-8">РАЗРАБОТКА РАСЧЕТНОЙ СРЕДЫ ПОКАЗАТЕЛЕЙ ПЕРЕНОСА ВЕЩЕСТВ</h3>
    <form id="parametersForm" class="mt-5" action="/calculate/" method="get">
        
        <input type="text" name="options" value="{{ item_id }}" hidden>
        {% for x, y in description.items %}
        <div class="form-group row mt-2">
            <label for="{{ x }}" class="col-sm-6 col-form-label">{{ y.name }} ({{ x }}):</label>
            <div class="col-sm-6">
                {% if y.value|length > 1 %}
                    <input type="number" class="form-control" id="{{ x }}" name="{{ x }}" value="{{ y.value.0 }}" min="{{ y.value.0 }}" max="{{ y.value.1 }}" required>
                {% else %}
                    <input type="number" class="form-control" id="{{ x }}" name="{{ x }}" value="{{ y.value }}" required>
                {% endif %}
            </div>
        </div>
        {% endfor %}
        <div class="d-flex justify-content-between mt-5">
            <button type="submit" class="btn btn-primary">РЕШЕНИЕ</button>
            <a href="/" class="btn btn-secondary">ГЛАВНАЯ</a>
            <a href="/selects/" class="btn btn-success">ВЫХОД</a> <!-- Ensure href attribute ends with a trailing slash if APPEND_SLASH=True -->
        </div>
    </form>
</div>
{% endblock %}
