<!-- home/templates/home/api.html -->
{% extends 'layout/base.html' %}

{% block title %}
Домашняя страница
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">API Documentation</h1>

    <!-- Endpoint 1 -->
    <section id="endpoint1" class="mb-5">
        <h2>POST /result/</h2>
        <p>Get calculated values</p>
        <p><strong>Parameters:</strong></p>
        <ul>
            <li>
                <code>options = [1,2,3]</code>
            </li>
        </ul>
        <ul>
            <code>№1:</code>
            <li>Объемная концентрация вещества на входе</li>
            <li>Осредненная скорость движения раствора</li>
            <li>Коэффициент диффузии</li>
            <li>Количество интервалов</li>
            <li>Шаг сетки по направлению</li>
            <li>Шаг сетки по направлению</li>
            <li>Максимальное время</li>
            <li>Коэффициент переноса массы</li>
            <li>Пористость в immobile зоне</li>
            <li>Пористость в mobile зоне</li>
            <li>Коэффициент переноса массы</li>
            <li>Дробная производная по времени</li>
            <li>Дробная производная по координате</li>
        </ul>

        <ul>
            <code>№2:</code>
            <li>Объемные концентрации вещества</li>
            <li>Осредненная скорость движения раствора</li>
            <li>Коэффициент гидродинамической дисперсии</li>
            <li>Количество интервалов</li>
            <li>Шаг сетки по направлению</li>
            <li>Шаг сетки по направлению</li>
            <li>Максимальное время</li>
            <li>Коэффициент переноса массы</li>
            <li>Пористость в immobile зоне</li>
            <li>Пористость в mobile зоне</li>
            <li>Коэффициент переноса массы</li>
            <li>Дробная производная по времени</li>
            <li>Дробная производная по координате</li>
            <li>Представляют доли центров адсорбции, соответственно</li>
            <li>Объемная плотность пористой среды</li>
            <li>Коэффициент адсорбции</li>
            <li>Коэффициенты разложения первого порядка для разложения растворенного вещества в областях с подвижной и
                неподвижной жидкостью</li>
            <li>Коэффициенты разложения вещества первого порядка в подвижной и неподвижной адсорбированных твердых фазах
            </li>
            <li>Коэффициенты разложения первого порядка для разложения растворенного вещества в областях с подвижной и
                неподвижной жидкостью</li>
            <li>Коэффициенты разложения вещества первого порядка в подвижной и неподвижной адсорбированных твердых фазах
            </li>
        </ul>
        <ul>
            <code>№3:</code>
            <li>Объемные концентрации вещества</li>
            <li>Коэффициент диффузии</li>
            <li>Количество интервалов</li>
            <li>Шаг сетки по направлению</li>
            <li>Шаг сетки по направлению</li>
            <li>Максимальное время</li>
            <li>Дробная производная по координате</li>
            <li>Дробная производная по времени</li>
            <li>Дробная производная по времени</li>
            <li>Дробная производная по времени</li>
            <li>Положительные константы</li>
            <li>Положительные константы</li>
        </ul>
        <a class="btn btn-primary" href="/static/var.docx" download>Form data download</a>

    </section>
</div>

{% endblock %}