<!-- calculate_and_plot.html -->
{% extends 'layout/base.html' %}

{% block title %}
АЛГОРИТМИЗАЦИЯ РАСЧЕТОВ ПОКАЗАТЕЛЕЙ ПЕРЕНОСА ВЕЩЕСТВ
{% endblock %}

{% block content %}

<div id="loader" class="d-flex justify-content-center align-items-center" style="height: 100vh;">

    <div class="h1Container">
        <div class="cube h1 w1 l1">
            <div class="face top"></div>
            <div class="face left"></div>
            <div class="face right"></div>
        </div>

        <div class="cube h1 w1 l2">
            <div class="face top"></div>
            <div class="face left"></div>
            <div class="face right"></div>
        </div>

        <div class="cube h1 w1 l3">
            <div class="face top"></div>
            <div class="face left"></div>
            <div class="face right"></div>
        </div>

        <div class="cube h1 w2 l1">
            <div class="face top"></div>
            <div class="face left"></div>
            <div class="face right"></div>
        </div>

        <div class="cube h1 w2 l2">
            <div class="face top"></div>
            <div class="face left"></div>
            <div class="face right"></div>
        </div>

        <div class="cube h1 w2 l3">
            <div class="face top"></div>
            <div class="face left"></div>
            <div class="face right"></div>
        </div>

        <div class="cube h1 w3 l1">
            <div class="face top"></div>
            <div class="face left"></div>
            <div class="face right"></div>
        </div>

        <div class="cube h1 w3 l2">
            <div class="face top"></div>
            <div class="face left"></div>
            <div class="face right"></div>
        </div>

        <div class="cube h1 w3 l3">
            <div class="face top"></div>
            <div class="face left"></div>
            <div class="face right"></div>
        </div>
    </div>

    <div class="h2Container">

        <div class="cube h2 w1 l1">
            <div class="face top"></div>
            <div class="face left"></div>
            <div class="face right"></div>
        </div>

        <div class="cube h2 w1 l2">
            <div class="face top"></div>
            <div class="face left"></div>
            <div class="face right"></div>
        </div>

        <div class="cube h2 w1 l3">
            <div class="face top"></div>
            <div class="face left"></div>
            <div class="face right"></div>
        </div>

        <div class="cube h2 w2 l1">
            <div class="face top"></div>
            <div class="face left"></div>
            <div class="face right"></div>
        </div>

        <div class="cube h2 w2 l2">
            <div class="face top"></div>
            <div class="face left"></div>
            <div class="face right"></div>
        </div>

        <div class="cube h2 w2 l3">
            <div class="face top"></div>
            <div class="face left"></div>
            <div class="face right"></div>
        </div>

        <div class="cube h2 w3 l1">
            <div class="face top"></div>
            <div class="face left"></div>
            <div class="face right"></div>
        </div>

        <div class="cube h2 w3 l2">
            <div class="face top"></div>
            <div class="face left"></div>
            <div class="face right"></div>
        </div>

        <div class="cube h2 w3 l3">
            <div class="face top"></div>
            <div class="face left"></div>
            <div class="face right"></div>
        </div>
    </div>

    <div class="h3Container">

        <div class="cube h3 w1 l1">
            <div class="face top"></div>
            <div class="face left"></div>
            <div class="face right"></div>
        </div>

        <div class="cube h3 w1 l2">
            <div class="face top"></div>
            <div class="face left"></div>
            <div class="face right"></div>
        </div>

        <div class="cube h3 w1 l3">
            <div class="face top"></div>
            <div class="face left"></div>
            <div class="face right"></div>
        </div>

        <div class="cube h3 w2 l1">
            <div class="face top"></div>
            <div class="face left"></div>
            <div class="face right"></div>
        </div>

        <div class="cube h3 w2 l2">
            <div class="face top"></div>
            <div class="face left"></div>
            <div class="face right"></div>
        </div>

        <div class="cube h3 w2 l3">
            <div class="face top"></div>
            <div class="face left"></div>
            <div class="face right"></div>
        </div>

        <div class="cube h3 w3 l1">
            <div class="face top"></div>
            <div class="face left"></div>
            <div class="face right"></div>
        </div>

        <div class="cube h3 w3 l2">
            <div class="face top"></div>
            <div class="face left"></div>
            <div class="face right"></div>
        </div>

        <div class="cube h3 w3 l3">
            <div class="face top"></div>
            <div class="face left"></div>
            <div class="face right"></div>
        </div>
    </div>
</div>
<div id="content" style="display: none;">
    <div class="row m-2">
        <div class="col-md-6">
            <div class="card">
                <h3 class="card-header">Cm ning X koordinata bo'yicha taqsimoti</h3>
                <div class="card-body">
                    <canvas id="CmChart"></canvas>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card">
                <h3 class="card-header">Cim ning X koordinata bo'yicha taqsimoti</h3>
                <div class="card-body">
                    <canvas id="CimChart"></canvas>
                </div>
            </div>
        </div>
        <hr class="m-1">
        <div class="col-md-6">
            <div class="card">
                <h3 class="card-header">Cm ning vaqt bo'yicha dinamikasi</h3>
                <div class="card-body">
                    <canvas id="CmTimeChart"></canvas>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <h3 class="card-header">Cim ning vaqt bo'yicha dinamikasi</h3>
                <div class="card-body">
                    <canvas id="CimTimeChart"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
{% endblock %}