<!-- home/templates/home/introduction.html -->
{% extends 'layout/base.html' %}

{% block title %}
Информация о программе
{% endblock %}

{% block content %}
<h3 class="text-center">Информация о программе</h3>

<div class="d-flex justify-content-center">
    <img class="w-75" src="/static/docs/menu.png" alt="navbar img not found" class="img-fluid img-doc">
</div>

<div class="container">
    <h1 class="mt-5">Программное обеспечение по расчету аномального переноса вещества в пористых средах</h1>

    <p>Данное программное обеспечение разработано для моделирования и расчета <strong>аномальных изменений</strong> в
        пористых средах. Оно предоставляет возможности для анализа и предсказания поведения веществ при их перемещении в
        таких средах, что имеет важное значение в научных исследованиях и инженерных расчетах.</p>

    <h2 class="mt-4">Основные разделы:</h2>
    <ul>
        <li>
            <h4>О программе</h4>
            <p>Этот раздел содержит общую информацию о программе, её назначении, принципах работы, используемых методах
                и алгоритмах, а также сведения о разработчиках и их вкладе в создание программного обеспечения.</p>
        </li>
        <li>
            <h4>Список опубликованных работ</h4>
            <p>В данном разделе представлены все научные публикации и исследования, выполненные с использованием этого
                программного обеспечения. Каждая работа сопровождается кратким описанием и ссылкой на полный текст.</p>
        </li>
        <li>
            <h4>API</h4>
            <p>Этот раздел посвящен доступным API, которые можно использовать для интеграции программного обеспечения с
                другими системами или для автоматизации задач. Здесь также содержится документация по их использованию.
            </p>
        </li>
        <li>
            <h4>Код Питон</h4>
            <p>В этом разделе представлен исходный код на языке Python, который используется в программном обеспечении.
                Пользователи могут ознакомиться с кодом, понять принципы его работы и адаптировать его под свои нужды.
            </p>
        </li>
        <li>
            <h4>Введение</h4>
            <p>Раздел "Введение" предоставляет пошаговые инструкции по началу работы с программным обеспечением. Здесь
                описаны интерфейс программы, основные функции, и примеры использования для различных задач.</p>
        </li>
    </ul>

    <p class="mt-4">Чтобы начать работу с программой, нажмите кнопку "Начать" в нижней части экрана. Это перенаправит
        вас в основной интерфейс программы, где можно выполнять расчеты и моделирование.</p>

    <img src="/static/docs/step2.png" alt="Step 2 img not found" class="img-fluid img-doc">

    <br><br>
    <p>
        Данное программное обеспечение предназначено для расчета аномального переноса вещества в пористых средах.
        Программа позволяет моделировать поведение веществ в различных условиях, что может быть полезно
        в научных исследованиях и инженерных расчетах.
    </p>
    <p>
        Основные возможности программы включают:
    </p>
    <ul>
        <li>Расчет и моделирование аномального переноса вещества</li>
        <li>Анализ и визуализация результатов</li>
        <li>Интеграция с другими системами через API</li>
        <li>Гибкая настройка параметров моделирования</li>
    </ul>
    <p>
        Для начала работы с программой выберите необходимый тип задачи и следуйте инструкциям.
        Поддерживаемые типы задач включают:
    </p>
    <ul>
        <li>Аномальный перенос вещества в двухзонной фрактальной среде</li>
        <li>Аномальный перенос с учетом адсорбционных эффектов и разложения вещества</li>
        <li>Аномальный перенос с много – членными дробными производными</li>
    </ul>
    <p>
        Для получения дополнительной информации ознакомьтесь с документацией или свяжитесь с разработчиками.
    </p>

    <p>Данная программа предназначена для моделирования и расчета аномального переноса вещества в пористых средах. Она
        позволяет проводить расчеты для различных типов задач, учитывая особенности среды и параметры процесса.
        Программа предлагает три варианта задач, каждая из которых требует ввода определенных параметров для проведения
        расчета.</p>

    <div class="mt-4">
        <h3>Вариант 1: Аномальный перенос вещества в двухзонной фрактальной среде</h3>
        <ul class="list-group">
            <li class="list-group-item">Объемная концентрация вещества на входе</li>
            <li class="list-group-item">Осредненная скорость движения раствора</li>
            <li class="list-group-item">Коэффициент диффузии</li>
            <li class="list-group-item">Количество интервалов</li>
            <li class="list-group-item">Шаг сетки по направлению 1</li>
            <li class="list-group-item">Шаг сетки по направлению 2</li>
            <li class="list-group-item">Максимальное время</li>
            <li class="list-group-item">Коэффициент переноса массы 1</li>
            <li class="list-group-item">Пористость в immobile зоне</li>
            <li class="list-group-item">Пористость в mobile зоне</li>
            <li class="list-group-item">Коэффициент переноса массы 2</li>
            <li class="list-group-item">Дробная производная по времени</li>
            <li class="list-group-item">Дробная производная по координате</li>
        </ul>
    </div>

    <div class="mt-4">
        <h3>Вариант 2: Аномальный перенос вещества с учетом адсорбционных эффектов и разложения вещества</h3>
        <ul class="list-group">
            <li class="list-group-item">Объемные концентрации вещества</li>
            <li class="list-group-item">Осредненная скорость движения раствора</li>
            <li class="list-group-item">Коэффициент гидродинамической дисперсии</li>
            <li class="list-group-item">Количество интервалов</li>
            <li class="list-group-item">Шаг сетки по направлению 1</li>
            <li class="list-group-item">Шаг сетки по направлению 2</li>
            <li class="list-group-item">Максимальное время</li>
            <li class="list-group-item">Коэффициент переноса массы</li>
            <li class="list-group-item">Пористость в immobile зоне</li>
            <li class="list-group-item">Пористость в mobile зоне</li>
            <li class="list-group-item">Коэффициент переноса массы 2</li>
            <li class="list-group-item">Дробная производная по времени</li>
            <li class="list-group-item">Дробная производная по координате</li>
            <li class="list-group-item">Доли центров адсорбции</li>
            <li class="list-group-item">Объемная плотность пористой среды</li>
            <li class="list-group-item">Коэффициент адсорбции</li>
            <li class="list-group-item">Коэффициенты разложения (подвижная и неподвижная жидкость)</li>
            <li class="list-group-item">Коэффициенты разложения (адсорбированные твердые фазы)</li>
        </ul>
    </div>

    <div class="mt-4">
        <h3>Вариант 3: Аномальный перенос с много–членными дробными производными</h3>
        <ul class="list-group">
            <li class="list-group-item">Объемные концентрации вещества</li>
            <li class="list-group-item">Коэффициент диффузии</li>
            <li class="list-group-item">Количество интервалов</li>
            <li class="list-group-item">Шаг сетки по направлению 1</li>
            <li class="list-group-item">Шаг сетки по направлению 2</li>
            <li class="list-group-item">Максимальное время</li>
            <li class="list-group-item">Дробная производная по координате</li>
            <li class="list-group-item">Дробная производная по времени 1</li>
            <li class="list-group-item">Дробная производная по времени 2</li>
            <li class="list-group-item">Дробная производная по времени 3</li>
            <li class="list-group-item">Положительные константы 1</li>
            <li class="list-group-item">Положительные константы 2</li>
        </ul>
    </div>


</div>

{% endblock %}