<!-- home/templates/home/item_description.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Item Description</title>
    <script type="text/javascript" async
        src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-MML-AM_CHTML">
    </script>
</head>
<body>
    <object data="../{{ file_path }}" type="application/pdf" width="100%" height="500px">
        <p>PDF fayl yuklanmadi yoki brauzeringiz PDF fayllarni ko'rishga qo'liq keltirmaydi. <a href="{{ file_path }}">PDF yuklab oling</a> yoki PDF ko'rish uchun boshqa brauzer ishlatishni tavsiya qilamiz.</p>
    </object>
</body>
</html>
