<!-- home/templates/home/index.html -->
{% extends 'layout/base.html' %}

{% block title %}
Домашняя страница
{% endblock %}

{% block content %}
<h3 class="text-center pt-2">Список опубликованных работ</h3>
<hr>
<div class="row m-1">
    {% for work in works %}
    <div class="col-md-4 p-2">
        <h6>{{ work.name }}</h6>
        <p><code>{{work.type }}</code></p>
        <a href="/static/{{ work.url}}" class="btn btn-outline-primary" download>Скачать</a>
    </div>
    {% endfor %}
</div>
{% endblock %}