<!-- home/templates/home/index.html -->
{% extends 'layout/base.html' %}

{% block title %}
Домашняя страница
{% endblock %}

{% block content %}
<h3 class="text-center">Список опубликованных работ</h3>
<hr>
<div class="row m-1">
    {% for work in works %}
    <div class="col-3 p-2">
        <h5>{{ work.name }}</h3>
        <p><code>{{work.type }}</code></p>
        <a href="/static/{{ work.url}}" download="" class="btn btn-outline-primary">Скачать</a>
    </div>
    {% endfor %}
</div>
{% endblock %}